<h2><%= @shoe.brand%></h2>

<div class="well">
  <% if @shoe.stores.any?() %>

  <h2>This shoe is available at the following stores: </h2>

  <ul>
    <% @shoe.stores.each do |store| %>
      <li><a href="/stores/<%= store.id() %>"><%= store.name %></a></li>
    <% end %>
  </ul>
  <% else %>

  <h2>Currently, this shoe isn't available at any stores. Please check again soon!</h2>

  <% end %>


  <form action="/shoes/<%= @shoe.id()%>" method="post" class="form-container">
    <input name="_method" type="hidden" value="patch">
    <label for="shoe">Edit Brand:</label>
    <input id="shoe" name="brand" type="text" class="form-control">
    <br>
    <button type="submit">Update Brand</button>
  </form>
  <br>
  <form action="/shoes/<%= @shoe.id()%>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit">Delete Shoe</button>
  </form>

</div>
