<h2><%= @store.name%></h2>

<div class="well">
  <% if @store.shoes.any?() %>

  <h2>Here are the available shoes at this store: </h2>

  <ul>
    <% @store.shoes.each do |shoe| %>
      <li><a href="/store/<%=shoe.id()%>"><%= shoe.name %></a></li>
    <% end %>
  </ul>

  <% else %>

  <h2>Currently, we're all sold out. Please try again soon!</h2>

  <% end %>

  <form action="/store/<%=@shoe.id()%>" method="post">
    <label for="shoe">Select a Shoe</label>
    <select id='shoe' name='shoe' type='text'>
      <% @shoe.each() do |shoe| %>
        <option value="<%= shoe.id()%>"> <%= shoe.name() %> </option>
      <% end %>
    </select>

  <!-- <label for="shoe">Brand:</label>
  <input id="shoe" name="shoe" type="text"> -->

    <button type="submit">Add Brand</button>
  </form>

  <form action="/store/<%=store.id()%>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit">Delete Store</button>
  </form>
</div>
